a.child_shipping_method {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}
.jem_table_rate_shipping_methods_list{
    background: red;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
     font-weight: 400;
    width: auto;
}
span.status-enabled.tips {
    width: auto;
}


.smsa-shipment-info {
    position: relative;
}

.smsa-shipment-info label{
    position: absolute;
    color: #999;
    right: 0;
    z-index: 999;
    direction: rtl;
}


.smsa-shipment-info .shipment_awp_number {
    text-align: center;
    font-size: 30px;
    position: relative;
    display: block;
    padding: 20px 0px;
    background: #f1f1f1;
}

.wp-core-ui div.meta_box_smsa_buttons a.button {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
}

.shipment_status {
    text-align: center;
    font-size: 18px;
    color: #999;
}